# --- Core Data Manipulation ---
pandas>=2.0.0
numpy>=1.24.0

# --- Data Generation (Task 2) ---
Faker>=20.0.0

# --- Entity Resolution Logic (Task 2) ---
# For normalizing text (e.g., converting 'Łukasz' to 'Lukasz')
unidecode>=1.3.0
# For fast string matching (Levenshtein, Jaro-Winkler) - much faster than 'fuzzywuzzy'
rapidfuzz>=3.0.0
# For Graph Resolution (Connecting A->B and B->C to group A,B,C)
networkx>=3.0.0
# For phonetic encoding (Soundex, Metaphone, etc.)
jellyfish>=0.9.0

# --- Machine Learning  ---
scikit-learn>=1.3.0
xgboost>=2.0.0

# --- API & Database (Task 4) ---
fastapi>=0.100.0
uvicorn[standard]>=0.23.0
pydantic>=2.0.0
sqlalchemy>=2.0.0

# --- Development & Notebooks ---
pytest>=7.0.0
ipykernel>=6.0.0